---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cloudflare ssr test">
  <div>
    <h1>Cloudflare ssr test</h1>
    <p>
      <strong>This link should go to the site of Bol.com</strong>
      <a href="/links/bol-com/lenovo/9200000011999428">Lenovo ThinkPad T431s</a>
    </p>
  </div>
</Layout>
